
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      font-family: 'Montserrat', sans-serif;
    }

    header{
      background: linear-gradient(to right, #20b2aa, #6495ed);
      padding: 10px 30px;
      color: #FFFFFF;
      display: flex;
      justify-content: space-between;
    }

    header p{
      font-size: 20px;
      font-style: italics;
      font-weight: bolder;
    }

    header ul{
      list-style-type: none;
    }

    header li{
      display: inline;
      margin-inline-start: 2rem;
      font-size: 14px;
      font-weight: bold;
    }

    header li:hover{
      border-bottom: 2px solid #FFFFFF;
      padding: 5px;
      cursor: pointer;
    }

    section p{
      font-size: 20px;
      letter-spacing: 0.2rem;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
    }

    textarea{
      inline-size: 100%;
      margin-block-start: 1rem;
      padding-inline-start: 30px;
      padding-block-start: 30px;
    }

    #input{
      background-color: #f0e68c;
      border: none;
      color: #556b2f;
    }

    .repler{
      display: flex;
      justify-content: space-between;
      margin-block-start: 1rem;
      padding: 0 10px;
    }

    .run{
      border: none;
      color: #6495ed;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #f0e68c;
      box-shadow: 0px 0px 2px 1px #000000;
    }

    .run:hover{
      color: #f0e68c;
      background-color: #6495ed;
      box-shadow: none;
    }

    @media (max-width: 1024px) {

      header ul {
        display: none;
      }
    }
